{% if site.disqus_shortname %}
<div id="gitalk-container"></div>
<script>
var gitalk = new Gitalk({
  clientID: '1eef0346be71f7a6d858',
  clientSecret: '0a10e2ecc53b1d5b6421397f1e806ce8e7c795d8 ',
  repo: 'pub999.github.io',
  owner: '0x49',
  admin: ['pub999'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
