	{% if page.layout == 'amp' %}
		<p>世界上那些最容易的事情中,拖延时间最不费力.</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(9);
			fortune[0] = '精彩的人生总有精彩的理由,笑到最后的才会笑得最甜.';
			fortune[1] = '请一定要有自信,你就是一道风景,没必要在别人风景里面仰视.';
			fortune[2] = '当我们在责备别人时,岂不是也在间接宽容自己.';
			fortune[3] = '不要认为自己比别人做得好,即便你很出色.';
			fortune[4] = '人生的挑战,无处不在,满怀信心,轻装上路,明天永远是充满希望的战场.';
			fortune[5] = '在你坚持不下去的时候,告诉自己昨天下了雨,今天刮了风,明天太阳就出来了. ';
			fortune[6] = '对于攀登者来说,失掉往昔的足迹并不可惜,迷失了继续前时的方向却很危险.';
			fortune[7] = '不要问,不要等,不要犹豫,不要回头.没有答案的时候,就独自出去见一见这个世界.';
			fortune[8] = '世界上那些最容易的事情中,拖延时间最不费力.';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>世界上那些最容易的事情中,拖延时间最不费力.</noscript>
	{% endif %}
